{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
{% block header %}
  <div class="jumbotron">
      <h1>
          Track your learning.
      </h1>
  </div>
{% endblock header %}
{% block content %}
  <h2>
    <a href="{% url 'users:register' %}">Register an account</a> to make your own Learning Log,and you can list
    the topics you've got.
  </h2>
  <h2>
    Whenever you learn something new about the topic,make an entry summarizing what you've got.
  </h2>
{% endblock content %}


